.section {
  width: 100%;
  height: auto;
  min-height: 150vh;
  background-color: white;
  margin-top: 2.8rem;
}
.container1 {
  width: 80%;
  margin: auto;
}
.content-section {
  float: left;
  width: 55%;
}
.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 100%;
  height: auto;
}
.content-section .title {
  justify-content: center;
  align-items: center;
  padding-bottom: rem;
  padding-right: 2rem;
  color: rgba(14, 244, 65, 1);
}

.content-section .content h3 {
  margin-top: 20px;
  color: #0433cc;
  font-size: 21px;
}
.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-transform: lowercase;
}
.content-section .content .button {
  margin-top: 30px;
}
.content-section .content .button button {
  background-color: rgba(14, 244, 65, 1);
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 1.5px;
}
.content-section .content .button a:hover {
  background-color: #a52a2a;
  color: #fff;
}
.content-section .social {
  margin: 40px 40px;
}
.content-section .social i {
  color: #a52a2a;
  font-size: 30px;
  padding: 0px 10px;
}
.content-section .social i:hover {
  color: #3d3d3d;
}
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    margin: auto;

    /* padding-top: 50px; */
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .content-section .title {
    text-align: center;
    font-size: 19px;
  }
  .content-section .content .button {
    text-align: center;
  }
  .content-section .content .button a {
    padding: 9px 30px;
  }
  .content-section .social {
    text-align: center;
  }
}
